<div class="application-header">
  <img class="application-header__logo" src="assets/icons/favicon-96x96.png"  alt="" loading="lazy">
  <h1 class="application-header__title" routerLink="/home">Angular Newsletter Manager</h1>
  <div class="application-header__links">
    <a mat-stroked-button routerLink="/recipients">Recipients</a>
    <a mat-stroked-button routerLink="/recipient-groups">Recipient Groups</a>
    <a mat-stroked-button routerLink="/newsletters">Newsletter</a>
  </div>
</div>
<router-outlet></router-outlet>
