#newsletter-customization-containers {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  * {
    margin: 1em;
  }
}

.email-message {
  padding: 5px;
  border: 1px solid #efefef;
  overflow-x: auto;
}
